@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<div class=" = " bg-secondary bg-opacity-10 py-2">
    <div class="container">
        <h1>Add new Blog - Admin Functionality</h1>
    </div>
</div>

<div class="container py-5">
    <form method="post">
        <div class="mb-3">
            <lable class="form-lable">Heading</lable>
            <input type="text" class="form-control" id="heading" name="heading" />
        </div>
        <div class="mb-3">
            <lable class="form-lable">Page Title</lable>
            <input type="text" class="form-control" id="pagetitle" name="pagetitle" />
        </div>
        <div class="mb-3">
            <lable class="form-lable">Content</lable>
            <input type="text" class="form-control" id="content" name="content" style="height: 100px;" />
        </div>
        <div class="mb-3">
            <lable class="form-lable">Short Description</lable>
            <input type="text" class="form-control" id="shortdescription" name="shortdescription" />
        </div>
        <div class="mb-3">
            <lable class="form-lable">FeatureImageUrl</lable>
            <input type="text" class="form-control" id="featureImageUrl" name="featureImageUrl" />
        </div>
        <div class="mb-3">
            <lable class="form-lable">Author</lable>
            <input type="text" class="form-control" id="author" name="author" />
        </div>
        <div class="mb-3">
            <lable class="form-lable">Visible</lable>
            <input type="text" class="form-control" id="visible" name="visible" />
        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-dark">Submit</button>
        </div>
    </form>
</div>
