@model ItBoostUp.BuisnessLayer.Models.Company
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<h1>Edit Company</h1>
<form class="form-control" asp-controller="Company" asp-action="Update" method="post">
    <input type="number" class="form-control" name="id" asp-for="Id" readonly/>
    <input type="text" class="form-control mt-3" name="name" asp-for="Name" placeholder="enter company name" />
    <input type="text" class="form-control mt-3" name="address" asp-for="Address" placeholder="enter company address" />
    <input type="submit" class="btn btn-success mt-3" value="Submit" />
    <a class="btn btn-success mt-3" asp-controller="Company" asp-action="Company" >Cancel</a>
</form>