@model NetCoreFirstApp.Models.CompanyModel
@{
   
}

<h1>Company</h1>
<form method="post"  />
<div>
     <label asp-for="CompanyName"></label>
    <input asp-for="CompanyName" required />
    
    
</div>
<div>
    <label asp-for="GST"></label>
    <input asp-for="GST" />
</div>

<div>
    <label asp-for="Email"></label>
    <input asp-for="Email" />
</div>
<div>
    <button type="submit" value="submit" >Submit</button>
</div>

